# PHPStan configuration for Updatronix: static analysis of plugin.
includes:
    - ../vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 6
    excludePaths:
        analyseAndScan:
            - .config/*
            - vendor/*
            - node_modules/*
